.mainPage {
  text-align: center;
}

body {
  background-color: darkgray;
}

.input {
  margin-left: 43.3%;
  float: left;
}

.messages {
  text-align: center;
}

.send {
  margin-left: 43.3%;
}

.logout {
  text-align: center;
}
